includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/slam/phpstan-extensions/conf/symfony-rules.neon

rules:
    - TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    level: 6

    dynamicConstantNames:
        - BE_USER_LOGGED_IN

    universalObjectCratesClasses:
        - Contao\ContentElement
        - Contao\Database\Result
        - Contao\Model
        - Contao\Module
        - Contao\Template
        - Contao\User

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    rememberPossiblyImpureFunctionValues: false

    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        - '#Access to an undefined property Contao\\DataContainer::\$activeRecord.#'
