parameters:
    dynamicConstantNames:
        - BE_USER_LOGGED_IN

    universalObjectCratesClasses:
        - Contao\ContentElement
        - Contao\Database\Result
        - Contao\Model
        - Contao\Module
        - Contao\Template
        - Contao\User

    doctrine:
        objectManagerLoader: ./object-manager.php

    ignoreErrors:
        - '#Access to an undefined property Contao\\DataContainer::\$activeRecord.#'
