name: terminal42 Build Tools (Validation)

on:
    workflow_call: ~

permissions: read-all

jobs:
    build_tools:
        name: build-tools
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.4
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, mysqli, pcre, pdo_mysql, zlib
                  coverage: none

            -   name: Install Node.js
                uses: actions/setup-node@v4
                with:
                    node-version: 20
            -   run: corepack enable

            - name: Checkout
              uses: actions/checkout@v4
              with:
                  show-progress: false

            - name: Install Composer dependencies
              uses: ramsey/composer-install@v3

            - name: Install Node packages
              if: ${{ hashFiles('package.json') != '' }}
              run: npm install

            - name: Run all build-tools to validate code
              run: composer run build-tools
